---
import Layout from './Layout.astro';
import ProjectStatus from '../components/projects/ProjectStatus.astro';
import ProjectTag from '../components/projects/ProjectTag.astro';
import ProjectLink from '../components/projects/ProjectLink.astro';
import ProjectDiscussionLink from '../components/projects/ProjectDiscussionLink.astro';
import { type Project } from '../types/component-types';
import Pill from '../components/Pill.astro';
import Tooltip from '../components/Tooltip.astro';
import type { MarkdownHeading } from 'astro';
import TableOfContents from '../components/TableOfContents.astro';

interface Props {
	frontmatter: Project;
	headings: MarkdownHeading[];
	filePath: string;
	minutesRead: string;
}

const { frontmatter, headings, filePath, minutesRead } = Astro.props;
---

<Layout title={frontmatter.title}>
	<div class='max-w-screen-lg mx-auto p-4'>
		<div class='mb-4'>
			<Tooltip tooltip='Go back to the list of projects...'>
				<Pill
					text='← Back to Projects'
					href='/projects'
					internalLink={true}
					size='large'
				/>
			</Tooltip>
		</div>

		<div class='flex items-baseline space-x-4 mb-2'>
			<h1 class='text-3xl font-bold'>{frontmatter.title}</h1>
		</div>

		<span
			class='text-sm text-gray-500 italic whitespace-nowrap'
			title='Estimated reading time'
		>
			⏱️ {minutesRead}
		</span>

		<div class='mb-2 mt-2'>
			<ProjectStatus
				status={frontmatter.status}
				size='large'
			/>
			<!-- <ProjectDiscussionLink
				title={frontmatter.title}
				status={frontmatter.status}
				filePath={filePath}
				size='large'
			/> -->
		</div>

		{
			frontmatter.description && (
				<blockquote
					class='
						bg-gray-50 
						border-l-4 border-gray-300
						italic p-4 mb-4 mt-4
						text-gray-700
					'
				>
					{frontmatter.description}
				</blockquote>
			)
		}

		{
			frontmatter.links && (
				<div class='mb-4 flex flex-wrap gap-2'>
					{frontmatter.links.map((link) => (
						<ProjectLink link={link} />
					))}
				</div>
			)
		}

		{
			frontmatter.tags && frontmatter.tags.length > 0 && (
				<div class='mb-4 flex flex-wrap gap-2'>
					{frontmatter.tags.map((tag) => (
						<ProjectTag tag={tag} />
					))}
				</div>
			)
		}

		<TableOfContents headings={headings} />

		<slot />

	<script
		is:inline
		src='https://giscus.app/client.js'
		data-repo='kjldev/kjldev'
		data-repo-id='R_kgDOOdLNAQ'
		data-category='Q&A'
		data-category-id='DIC_kwDOOdLNAc4CphyL'
		data-mapping='pathname'
		data-strict='0'
		data-reactions-enabled='1'
		data-emit-metadata='0'
		data-input-position='bottom'
		data-theme='light'
		data-lang='en'
		crossorigin='anonymous'
		async
	></script>
</div>
	
	
</Layout>
